<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Schedule.xml</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<nav>
	<a href="/">Home</a>
	<a href="/details">View Program</a>
	<a href="/get_schedule.xml">Generate XML</a>
</nav>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
